* {
  box-sizing: border-box;
  color: black;
}

body {
  overflow-x: hidden;
}
.marquee {
  display: flex;
  overflow: hidden;
  width: 200%; 
  animation: marquee-animation 10s linear infinite;
}
.marquee:hover{
  animation-play-state: paused;
}
@keyframes marquee-animation {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } 
}

@media only screen and (max-width:1280px) {
  .post-slide .post-content {
      padding: 0px 15px 25px 15px;
  }
}

@media (max-width:768px) {
  li{
      border-right: 0
  }

  ul{
      text-align: center;
  }
}

@media (max-width:300px) {
  
  #newsSliderClient {
      right: 38%;
      width: 100vh;
      left: 38%;
  }

  
 
  #root{
    width: 100%;
    height: 100vh;
    font-size: small;
  }
}

.showMenuNav {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.myHover:hover{
  transform: translateY(-3px);
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
}

.feature:hover, .review:hover{
  transform: translateY(-3px);
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
  /* background: rgb(201, 202, 202);  */
}